body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
    
    
    
    .photo {
      width: 200px;
      height: 200px;
      background-color: #ccc;
      margin: 0 auto 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
    }
    
    .photo img {
      max-width: 100%;
      max-height: 100%;
    }
    
    .name {
      font-weight: bold;
      margin-bottom: 10px;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    }
    
    .container:hover .name {
      opacity: 1;
      transform: translateY(0);
    }
    
    .education {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateY(20px);
     
    }
    
    .container:hover .education {
      opacity: 1;
      transform: translateY(0);
    }
    
    .education th, .education td {
      padding: 10px;
      border: 1px solid #ddd;
    }
    
    .hobbies, .achievements {
      display: inline-block;
      width: 45%;
      vertical-align: top;
      margin-right: 20px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    }
    
    .container:hover .hobbies,
    .container:hover .achievements {
      opacity: 1;
      transform: translateY(0);
    }
    
    .hobbies h2, .achievements h2 {
      font-size: 1.2em;
    }
    
    .hobbies li,
    .achievements li {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    }
    
    .container:hover .hobbies li,
    .container:hover .achievements li {
      opacity: 1;
      transform: translateY(0);
    }
    
    .personal-details {
      font-style: italic;
      margin-top: 20px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    }
    
    .container:hover .personal-details {
      opacity: 1;
      transform: translateY(0);
    }
    body{
       background-color: aqua;
    }